*{
    margin: 0;
    padding: 0px;
    box-sizing:0px;
    border: none;
    text-decoration: none;
}

@font-face {
    font-family: font1;
    src: url('../fontes/NorseBold-2Kge.otf')format(opentype);
}

@font-face {
    font-family: font2;
    src: url('../fontes/PR\ Viking.ttf')format(opentype);
}

@font-face {
    font-family: font3;
    src: url('../fontes/VIKING-N.TTF') format(opentype);
}

body{
    height: 100vh;
    width: auto;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

header{
   font-family:'font1', 'font2', 'font3';
    background-color: black;
}

.titulo{
    font-weight: 900;
    color: white;
    padding: 20px;
    font-size: 2em;
    text-align: center;
}

nav{
    display: inline-block;
    padding: 15px;
}

nav a{
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

nav  a:hover{
    background-color: rgba(255, 255, 255, 0.432);
}

main{
    overflow: hidden;
    padding: 0 3%;
    max-width: 1024px;
    background-color: white;
    text-align: center;
    font-family:'font3';

    width: 100%;
    margin: auto;
}

@media ( max-width: 1024px) {
    main {
        width: auto;
    }
}

.title_content{
    font-size: 2em;
    text-align: center;
}

p {
    margin: 50px auto;
    line-height: 28px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.5em;
}

a {
    color: rgb(24, 64, 51);
}

.capa1 img{
    float: left;
    max-width: 200px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.432);
    margin-right: 25px;
    margin-bottom: 25px;
    border: 3px solid;
}

.big_img img {
    width: 80%;
    border: 2px solid white;
    border-radius: 5px;
    
    max-width: 1024px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.432);
}

strong > a:hover{
    color: rgb(55, 16, 96);
    text-decoration: underline;
}

img:hover{
    transform: scale(1.02);
}

h2{
    padding: 10px 0px;
    font-size: 2em;
}

.conteiner{
    position: relative;
    padding-bottom: 57%;
    z-index: 0;
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    border-radius: 20px 0 20px 0; 
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.432);
}

.container_extra {
    gap: 20%;
    width: 100%;
}

@media ( max-width: 1024px ) {
    .container_extra {
        gap: 10%;
    }
}

@media ( max-width: 443px) {
    .container_extra{gap: 2%;}
}

.extra img {
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.432);
    width: 200px;
}

@media ( max-width: 443px) {
    .extra img{width: 100px;}
}

footer{
    text-align: justify;
    font-size: 1em;
    padding: 10px 0px;
    text-align: center;
    color: white;
    background-color: black;
}

footer > a{
    color: white;
    text-decoration: none;
}

footer > a:hover{
    color: brown;
}
