*{
    margin: auto;
    padding: 0px;
    box-sizing:0px;
}

@font-face {
    font-family: font1;
    src: url('../fontes/NorseBold-2Kge.otf')format(opentype);
}

@font-face {
    font-family: font2;
    src: url('../fontes/PR\ Viking.ttf')format(opentype);
}

@font-face {
    font-family: font3;
    src: url('../fontes/VIKING-N.TTF') format(opentype);
}

body{
   font-family:'font1', 'font2', 'font3';
}

header{
    background-color: black;
}

header > h1{
    font-weight: 900;
    color: white;
    padding: 50px;
    font-size: 5em;
    text-align: center;
}

header > ul{
    list-style: none;
}

header > ul > div{
    display: inline-block;
    padding: 15px;
}

header > ul > div > a{
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 2em;
}

header > ul > div > a:hover{
    background-color: rgba(255, 255, 255, 0.432);
}

main > h1{
    font-size: 3em;
    padding: 50px;
    text-align: center;
}

main{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
}

main > p{
    padding: 20px;
    line-height: 45px;
    text-align: justify;
    text-indent: 50px;
    font-size: 1.5em;
}

main > div.extra{
    display: inline-block;
}

main > div > picture > img,
main > picture > img{
    box-shadow: 4px 4px 5px 4px  rgba(0, 0, 0, 0.432);
    margin: 50px 10px;
    border: 10px solid;
}

main > div > picture > img:hover,
main > picture > img:hover{
    transform: scale(1.02);
}

h2{
    padding: 20px 0px;
    font-family:'font1', 'font2', 'font3';
    font-size: 3em;
}

.conteiner{
    padding: 20px;
    position: relative;
    padding-bottom: 57%;
}

.vidio{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    text-align: justify;
    font-size: 1.4em;
    padding: 30px 0px;
    text-align: center;
    color: white;
    background-color: black;
}

footer > a{
    color: white;
    text-decoration: none;
}

footer > a:hover{
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.336);
}
