body{
    background-attachment: fixed;
    max-width: 1280px;
    background-image:linear-gradient(to top, rgb(160, 160, 160),rgb(109, 109, 109));
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header .cabecario{
    height: 100%;
}

header{
    text-align: center;
    box-shadow: 4px 6px 4px 6px rgba(0, 0, 0, 0.568);
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    height: 200px;
    background-image:linear-gradient(to top,black, rgb(36, 36, 36), rgb(65, 65, 65));
}

main .imagem-dragao:hover,
h3:hover,
h2:hover,
h1:hover,
body .redes:hover{
    transition: 0.5s;
    transform:scale(1.01)
}
main{
    text-align: center;
    padding: 15px;
}

main .imagem-dragao{
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.623);
    border: 4px solid black;
    border-radius: 5px;
    width: 370px;
    height: 210px;
} 

h1, 
h2{
    text-align: center;
    padding: 15px;
    text-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.63);
}

h3{
    margin-bottom:40px ;
    font-size: small;
    padding: 35px;
    box-shadow:4px 2px 2px 3px rgba(11, 15, 15, 0.644);
    background-image: linear-gradient(to right, #6B96FF, #61ACE8,#7bd1e4);
    border-radius: 15px;
    text-align: justify;
    border: 4px solid black;
}
