@media (max-width: 1024px) {
    .video {
        left: 0;
        transform: translate(0, 0);
        min-width: 100%;
        min-height: 100%;
    }

    aside {
        margin-top: 0;
    }
    
}

@media (max-width: 768px) {
    header{
        padding: 5px 15px;
        background: linear-gradient(90deg, rgba(15,0,57,1) 0%, rgba(3,0,19,1) 15%, rgba(0,0,0,1) 30%, rgba(3,0,19,1) 85%, rgba(12,0,55,1) 100%);
    }

    .banner{
        height: 120px;
    }

    main {
        padding: 10px;
    }

    footer {
        margin-top: 0;
    }
}

@media (max-width: 443px) {
    .banner {
        top: 35px;
        height: 70px;
        box-shadow: 0 0 40px 0px brgba(0, 0, 0, 0.603);
    }

    nav img {
        width: 20px;
    }

    .capa {
        height: 140px;
    }

    .extra img {
        height: 150px;
    }
}
